body{
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjyusGct-HeAhXOnOAKHazFD7gQjRx6BAgBEAU&url=https%3A%2F%2Fpixabay.com%2Fen%2Fbackground-graphic-layout-stage-2011768%2F&psig=AOvVaw2Vx_lHyiTytpPyPCEgAqBn&ust=1542750365013080");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }